* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2%;
}

.checkout-card {
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  flex: 0 24%;
  height: auto;
  margin: 1px; /* (100-32*3)/2 */

  .checkout-card__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
  }

  hr {
    border: 0.5px solid lightgrey;
    width: 90%;
    margin: 0 2;
  }

  .checkout-card__header__left {
    width: 20%;
  }

  .checkout-card__header__left img {
    width: 100%;
    border-radius: 10px;
  }

  .checkout-card__header__middle {
    color: grey;
    width: 60%;
    font-size: 0.8em;
    justify-content: space-evenly;
    margin: 0 5%;

    .checkout-card__header__name {
      color: black;
      font-size: 1.5em;
      font-weight: 700;
      margin-bottom: 5%;
    }
  }

  .checkout-card__header__right {
    width: 15%;

    img {
      width: 100%;
      height: auto;
      margin: 5%px;
    }
  }
}
